<%- include("header") -%>

<h2 style="text-align: center; color: white;">ToDo-List App</h2>
<p style="text-align: center;">mock todo list application, created as a consequence of learning about templating and layouting.</p>

<%- include("footer") -%>